{% extends "base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Proyecto de PTI: HoneyFlow</h1>
        <p class="col-md-12 fs-5 mt-5">Nuestro proyecto creado por Marcel, Raúl, Arnau y Pablo, es una plataforma de ciberseguridad que se centra en la detección y análisis de ataques a través de honeypots desplegados con Kubernetes. Contamos con tres honeypots configurados para simular vulnerabilidades y atraer posibles amenazas. Una vez desplegados, monitoreamos el tráfico generado por estos honeypots y lo analizamos meticulosamente.</p>
        <p class="col-md-12 fs-5">Utilizamos nuestros propios scripts de ataques en Python para simular diversas amenazas (dado que no exponemos los honeypots a internet). Además, hemos desarrollado un sistema de detección de intrusiones personalizado que nos alerta ante la ocurrencia de ataques específicos.</p>
        <p class="col-md-12 fs-5 mb-4">Nuestra plataforma presenta los datos recopilados en tablas y gráficas intuitivas, lo que permite a los usuarios comprender fácilmente la naturaleza y el alcance de las amenazas detectadas.</p>
      </div>
    </div>


{% endblock %}
