{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h2 class="display-5 fw-bold">Datos del análisis: Heralding</h2>
    <p class="col-md-12 fs-5 mt-4">Este gráfico muestra el porcentaje de veces que se utilizaron los protocolos HTTP y MySQL para intentar acceder a nuestro PC.</p>
    {% if img_data %}
    <div class="d-flex justify-content-center">
      <img src="data:image/png;base64,{{ img_data }}" alt="Gráfico de Protocolos" class="img-fluid">
    </div>
    {% else %}
    <p>No hay datos disponibles para generar el gráfico.</p>
    {% endif %}
    <a href="{{ url_for('show_results_heralding') }}" class="btn btn-outline-secondary float-end mt-4" type="button">Volver</a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBud7RduPuemT//+jJXB16zg6i8UQD3lV5uDC3Yc7bz1Eeow" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  // Activar las pestañas de Bootstrap al cargar la página
  document.addEventListener('DOMContentLoaded', function () {
    var myTab = new bootstrap.Tab(document.getElementById('myTab'));
    myTab.show();
  });
</script>
{% endblock %}
