{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <p class="col-md-8 fs-4">Análisis de Honeypots</p>
    <div class="list-group">
      {% for honeypot in honeypots %}
        <a href="{{ url_for(honeypot['html_route']) }}" class="list-group-item list-group-item-action">{{ honeypot['name'] }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-6">
        <p class="fs-4">Detección de intrusiones</p>
      </div>
      <div class="col-md-6">
        <form method="GET">
          <div class="input-group mb-3">
            <input type="date" class="form-control" name="date_filter" placeholder="Seleccione una fecha">
            <button class="btn btn-outline-secondary" type="submit">Filtrar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="list-group">
      {% for detection in detections %}
          {% set detection_date = detection['name'].split(' ')[4] %}
          {% if date_filter and date_filter.replace('/', '-') == detection_date %}
          <div class="d-flex align-items-center">
            <a href= "{{ url_for('show_detection', detection_file=detection['file']) }}" class="list-group-item list-group-item-action ms-auto">{{ detection['name'] }}
            </a>
            <form action="{{ url_for('delete_intrusion', detection_file=detection['file']) }}" class="h-100" method="post">
              <button class="btn btn-danger btn-sm float-right ms-auto" type="submit">Eliminar</button>
            </form>
          </div>
          {% elif not date_filter %}
          <div class="d-flex align-items-center">
            <a href= "{{ url_for('show_detection', detection_file=detection['file']) }}" class="list-group-item list-group-item-action ms-auto">{{ detection['name'] }}
            </a>
            <form action="{{ url_for('delete_intrusion', detection_file=detection['file']) }}" class="h-100" method="post">
              <button class="btn btn-danger btn-sm float-right ms-auto" type="submit">Eliminar</button>
            </form>
          </div>
          {% endif %}
      {% endfor %}
    </div>
    <a href="{{ url_for('home') }}" class="btn btn-outline-secondary float-end mt-4" type="button">Volver</a>
  </div>
</div>
{% endblock %}

