{% extends "base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-5 fw-bold">Proyecto de PTI: HoneyFlow</h1>
          <p class="col-md-12 fs-5 mt-4">Disponemos de dos principales funcionalidades:</p>
          <p class="col-md-12 fs-5 mt-4">- Configuración de nuestros honeypots (poder desplegarlos/pararlos)</p>
          <p class="col-md-12 fs-5 mt-4 mb-4">- Mostrar los ataques recibidos (mostramos los datos de manera informativa)</p>
          <a href="{{ url_for('configurar_honeypots') }}"  class="btn btn-primary btn-lg" type="button">Configurar Honeypots</a>
          <a href="{{ url_for('honeypots_analysis') }}" class="btn btn-primary btn-lg" type="button">Ver Ataques</a>
          <a href="{{ url_for('about_project') }}" class="btn btn-primary btn-lg" type="button">About</a>
        </div>  
        <div class="col-md-6">
              <img src="{{ url_for('static', filename='img/personpc.png') }}" alt="" loading="lazy" class="img-fluid">
        </div>
      </div>
    </div>

{% endblock %}
