{% extends "base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Proyecto de PTI: HoneyFlow</h1>
        <p class="col-md-8 fs-4">Aqui explicamos las cosas.</p>
        <a href="{{ url_for('deploy_honeypot') }}"  class="btn btn-primary btn-lg" type="button">Deploy Honeypot</a>
        <a href="{{ url_for('stop_honeypot') }}" class="btn btn-primary btn-lg" type="button">Stop Honeypot</a>
        <a href="{{ url_for('show_results') }}" class="btn btn-primary btn-lg" type="button">Show Attacks</a>
      </div>
    </div>


{% endblock %}
