{% extends "base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
          {% if exito %}
            {% if isdocker %}
              <div class="alert alert-success" role="alert">
                ¡Docker iniciado con éxito!
              </div>
            {% else %}
              <div class="alert alert-success" role="alert">
                ¡Pod iniciado con éxito!
              </div>

          {% else %}
            {% if isdocker %}              
              <div class="alert alert-danger" role="alert">
                ¡Algo salió mal en la ejecución del docker!
              </div>
            {% else %}
              <div class="alert alert-danger" role="alert">
                ¡Algo salió mal en la ejecución del pod!
              </div>
          {% endif %}

        <!-- boton de volver -->
        <a href="{{ url_for('configurar_honeypots') }}" class="btn btn-outline-secondary float-end mt-4" type="button">Volver</a>

      </div>
    </div>

{% endblock %}