{% extends "base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        {% if deploy %}
          {% if exito %}
            <div class="alert alert-success" role="alert">
                ¡Docker iniciado con éxito!
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
                ¡Algo salió mal en la ejecución del docker!
            </div>
          {% endif %}
        {% else %}
          {% if exito %}
            <div class="alert alert-success" role="alert">
                ¡Docker parado con éxito!
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
                ¡Algo salió mal al parar el docker!
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>

{% endblock %}