{% extends "base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">

        {% if running_honeypot%}
            <div class="alert alert-success" role="alert">
                ¡El docker del honeypot ha sido parado con éxito!
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                ¡El docker del honeypot no esta corriendo!
            </div>
        {% endif %}
      
        <!-- boton de volver -->
        <a href="{{ url_for('configurar_honeypots') }}" class="btn btn-outline-secondary float-end mt-4" type="button">Volver</a>

      </div>
    </div>

{% endblock %}